


<div class=" nav  d-flex justify-content-center">
    <a class="navbar-brand" style="font-size: xx-large;">Expense Tracker</a>

    <span class="h5 mt-2" style="margin-left: 30px;">Hello there!</span>

    <ul class="nav nav-tabs" style="margin-left: 200px;">
        <li class="nav-item">
            <a class="nav-link" routerLink="dashboard" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " routerLink="orders" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">All expenses</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" routerLink="products" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">Categories</a>
        </li>
    </ul>
    <ul class="nav nav-tabs ms-auto">
        <li>
            <button class="btn btn-danger" style="margin-top: 4px;">Log Out</button>
        </li>
    </ul>
</div>





<div class="container wrapper mt-5 py-4 rounded">
    <div class="container mb-5">
        <div class="row new-expense">
            <button type="button" class="expense-controls__btn btn btn-block mb-1" (click)="toggleAdd()"> Add
                Expense</button>
            <form *ngIf="this.add">
                <div class="col-11 new-expense__controls mt-3 px-4 py-4 mx-auto">
                    <div class="row">
                        <div class="col-md-8 col-lg-6">
                            <label for="title">Expense Name</label>
                            <input type="text" class="form-control" id="title" name="name"
                                [(ngModel)]="this.expenseName">
                        </div>
                        <div class="col-md-4 col-lg-3">
                            <label for="amount">Amount</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Rs</span>
                                </div>
                                <input type="number" min="0.01" step="0.01" class="form-control" id="amount"
                                    aria-label="Dollar amount (with dot and two decimal places)" name="amount"
                                    [(ngModel)]="this.amount">
                            </div>
                        </div>
                        <div class="col-12 col-lg-3">
                            <label for="catId">Category </label>
                            <select id="catId"
                                style="width: 200px; height: 35px; font-size: 16px; border-radius: 5px; border: 1px solid #ccc; padding: 5px;"
                                class="ml-8" name="catId" [(ngModel)]="this.catId">
                                <ng-container *ngFor="let cat of categories;">
                                <option value={{cat.id}}>{{cat.name}}</option>
                            </ng-container>
                            </select>
                        </div>
                    </div>
                    <div class="col-11 new-expense__actions px-4 py-3 mx-auto d-flex justify-content-end">
                        <div>
                            <button type="button" class="expense-controls__btn btn" style="margin-right: 10px;"
                                (click)="toggleAdd()">Cancel</button>
                            <button type="submit" class="expense-controls__btn btn"
                                (click)="addExpense()">Submit</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="container expenses">
        <div class="row chart flex-nowrap">
            <div class="col bar d-flex flex-column justify-content-end">
                <div class="col fill p-0 flex-grow-0" style='height: 100%; flex-basis: auto;'>
                </div>
                <div class="col p-0 flex-grow-0">
                    <span>Jan</span>
                </div>
            </div>
            <div class="col bar d-flex flex-column justify-content-end">
                <div class="col fill p-0 flex-grow-0" style='height: 100%; flex-basis: auto;'>
                </div>
                <div class="col p-0 flex-grow-0">
                    <span>Feb</span>
                </div>
            </div>
            <div class="col bar d-flex flex-column justify-content-end d-flex flex-column justify-content-end">
                <div class="col fill p-0 flex-grow-0" style='height: 100%; flex-basis: auto;'>
                </div>
                <div class="col p-0 flex-grow-0">
                    <span>Mar</span>
                </div>
            </div>
            <div class="col bar d-flex flex-column justify-content-end">
                <div class="col fill p-0 flex-grow-0" style='height: 100%; flex-basis: auto;'>
                </div>
                <div class="col p-0 flex-grow-0">
                    <span>Apr</span>
                </div>
            </div>
            <div class="col bar d-flex flex-column justify-content-end">
                <div class="col fill p-0 flex-grow-0" style='height: 100%; flex-basis: auto;'>
                </div>
                <div class="col p-0 flex-grow-0">
                    <span>May</span>
                </div>
            </div>
            <div class="col bar d-flex flex-column justify-content-end">
                <div class="col fill p-0 flex-grow-0" style='height: 100%; flex-basis: auto;'>
                </div>
                <div class="col p-0 flex-grow-0">
                    <span>Jun</span>
                </div>
            </div>
            <div class="col bar d-flex flex-column justify-content-end">
                <div class="col fill p-0 flex-grow-0" style='height: 100%; flex-basis: auto;'>
                </div>
                <div class="col p-0 flex-grow-0">
                    <span>Jul</span>
                </div>
            </div>
            <div class="col bar d-flex flex-column justify-content-end">
                <div class="col fill p-0 flex-grow-0" style='height: 100%; flex-basis: auto;'>
                </div>
                <div class="col p-0 flex-grow-0">
                    <span>Aug</span>
                </div>
            </div>
            <div class="col bar d-flex flex-column justify-content-end">
                <div class="col fill p-0 flex-grow-0" style='height: 100%; flex-basis: auto;'>
                </div>
                <div class="col p-0 flex-grow-0">
                    <span>Sep</span>
                </div>
            </div>
            <div class="col bar d-flex flex-column justify-content-end">
                <div class="col fill p-0 flex-grow-0" style='height: 100%; flex-basis: auto;'>
                </div>
                <div class="col p-0 flex-grow-0">
                    <span>Oct</span>
                </div>
            </div>
            <div class="col bar d-flex flex-column justify-content-end">
                <div class="col fill p-0 flex-grow-0" style='height: 100%; flex-basis: auto;'>
                </div>
                <div class="col p-0 flex-grow-0">
                    <span>Nov</span>
                </div>
            </div>
            <div class="col bar d-flex flex-column justify-content-end">
                <div class="col fill p-0 flex-grow-0" style='height: 100%; flex-basis: auto;'>
                </div>
                <div class="col p-0 flex-grow-0">
                    <span>Dec</span>
                </div>
            </div>
        </div>
        <div *ngFor="let expense of expenses;">
            <div class="expense-list mt-5">
                <div class="row mx-2 expense-item mb-4 py-1">
                    <div class="col-sm-3 col-md-2 p-3 d-none d-sm-block">
                        <button type="button" class="expense-category btn px-lg-3 py-3 ml-lg-3">
                            {{expense.category.name}}
                        </button>
                    </div>
                    <div class="col-9 col-sm-7 col-md-8 d-flex justify-content-center flex-column py-2">
                        <h2 class="expense-title">{{expense.name}} </h2>
                        <span class="expense-date">{{expense.date}}</span>
                        <span class="expense-date">{{expense.time}}</span>
                    </div>
                    <div class="col-3 col-sm-2 col-md-2 d-flex align-items-center justify-content-center">
                        <span class="expense-amount">Rs.{{expense.amount}}</span>
                    </div>
                </div>
            </div>




        </div>


    </div>
</div>